# Node.js dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Environment variables
.env
.env.* 

# Build output
dist/
build/
out/
coverage/

# IDE / Editor configs
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

# Specific files you want to ignore
package-lock.json
isolate number
profile.txt
