@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: oklch(var(--background));
  --color-foreground: oklch(var(--foreground));
  --color-card: oklch(var(--card));
  --color-card-foreground: oklch(var(--card-foreground));
  --color-popover: oklch(var(--popover));
  --color-popover-foreground: oklch(var(--popover-foreground));
  --color-primary: oklch(var(--primary));
  --color-primary-foreground: oklch(var(--primary-foreground));
  --color-secondary: oklch(var(--secondary));
  --color-secondary-foreground: oklch(var(--secondary-foreground));
  --color-muted: oklch(var(--muted));
  --color-muted-foreground: oklch(var(--muted-foreground));
  --color-accent: oklch(var(--accent));
  --color-accent-foreground: oklch(var(--accent-foreground));
  --color-destructive: oklch(var(--destructive));
  --color-success: oklch(var(--success));
  --color-border: oklch(var(--border));
  --color-input: oklch(var(--input));
  --color-ring: oklch(var(--ring));

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;
  --background: 1 0 0;
  --foreground: 0.141 0.005 285.823;
  --card: 1 0 0;
  --card-foreground: 0.141 0.005 285.823;
  --popover: 1 0 0;
  --popover-foreground: 0.141 0.005 285.823;
  --primary: 0.4477 0.0927 160.58;
  --primary-foreground: 0.982 0.018 155.826;
  --secondary: 0.6901 0.1577 57.5;
  --secondary-foreground: 1 0 0;
  --muted: 0.967 0.001 286.375;
  --muted-foreground: 0.552 0.016 285.938;
  --accent: 0.967 0.001 286.375;
  --accent-foreground: 0.21 0.006 285.885;
  --warning-light: 0.9695 0.0198 70;
  --destructive: 0.5771 0.2152 27.33;
  --success: 0.6271 0.1699 149.21;
  --border: 0.92 0.004 286.32;
  --input: 0.92 0.004 286.32;
  --ring: 0.723 0.219 149.579;
}

.dark {
  --background: 0.141 0.005 285.823;
  --foreground: 0.985 0 0;
  --card: 0.21 0.006 285.885;
  --card-foreground: 0.985 0 0;
  --popover: 0.21 0.006 285.885;
  --popover-foreground: 0.985 0 0;
  --primary: 0.696 0.17 162.48;
  --primary-foreground: 0.393 0.095 152.535;
  --secondary: 0.274 0.006 286.033;
  --secondary-foreground: 0.985 0 0;
  --muted: 0.274 0.006 286.033;
  --muted-foreground: 0.705 0.015 286.067;
  --accent: 0.274 0.006 286.033;
  --accent-foreground: 0.985 0 0;
  --destructive: 0.704 0.191 22.216;
  --border: 1 0 0 / 10%;
  --input: 1 0 0 / 15%;
  --ring: 0.527 0.154 150.069;
}

@layer base {
  * {
    box-sizing: border-box;
    border-color: oklch(var(--border));
  }
  body {
    background-color: oklch(var(--background));
    color: oklch(var(--foreground));
    font-family: Sora, "sans-serif";
  }
}
