version: '3.9'

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - monitor-net

networks:
  monitor-net:
    driver: bridge
