version: "3.9"

services:
  db:
    image: postgres:15
    container_name: myproject-postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: payverse
      POSTGRES_DB: payversedb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
