name: Backend CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-test:
    runs-on: ubuntu-latest
     
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: npm ci

    - name: Lint
      run: npm run lint

    - name: Run tests
      run: npm run test

    - name: Build Project
      run: npm run build

  deploy:
    needs: build-test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
    - uses: actions/checkout@v4

    - name: Deploy to Render
      # env:
      #   RENDER_API_KEY: ${{secrets.RENDER_API_KEY}}
      #   RENDER_SERVICE_ID: ${{secrets.RENDER_SERVICE_ID}}
      run: |
        curl -X POST \
        -H "Accept: application/json" \
        -H "Authorization: Bearer ${{secrets.RENDER_API_KEY}}" \
        -d '' \
        https://api.render.com/v1/services/${{secrets.RENDER_SERVICE_ID}}/deploys



        # curl -X POST \
        #   https://api.render.com/v1/services/${RENDER_SERVICE_ID}/deploys \
        #   -H "Authorization: Bearer ${RENDER_API_KEY}" \
        #   -H "Content-Type: application/json"
