name: Frontend CI/CD

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  install-lint-test-build:
    name: Build & Test Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: DeployHub-frontend
        run: npm install

      - name: Lint
        working-directory: DeployHub-frontend
        run: npm run lint --if-present

      - name: Run Tests
        working-directory: DeployHub-frontend
        run: npm test --if-present

      - name: Build
        working-directory: DeployHub-frontend
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vite-dist
          path: dist
